


 <div ng-app="app" ng-controller="Test">
       
        
    <button  ng-click="show = 1" class="md-btn md-raised m-b btn-fw teal">Employee</button>
   <button  ng-click="show = 2" class="md-btn md-raised m-b btn-fw pink">Labour</button>
    <button  ng-click="show = 3" class="md-btn md-raised m-b btn-fw teal">Supplier</button>
 
 
    <div class="form-group" ng-show="show==1" >
       <p>
      hi
      </p>
    </div>

         <div class="form-group" ng-show="show==2" >
       <p>hello</p>
    </div>
             <div class="form-group" ng-show="show==3" >
       <p><div ng-controller="AppCtrl" class="md-padding demo">
  <div layout="row" layout-wrap>
    <div flex="100" layout="column">
      <div>
        <fieldset class="demo-fieldset" >
          
          <div layout="row" layout-wrap flex>
          <div flex-xs flex="50">
          <table class="table table-bordered"><thead><td>
            <md-checkbox aria-label="Select All"
                         ng-checked="isChecked()"
                         md-indeterminate="isIndeterminate()"
                         ng-click="toggleAll()">
              <span ng-if="isChecked()">Un-</span>Select All
            </md-checkbox></td>
            <td>hf</td>
            <td>yuew</td>
            <td>sdh</td>
         
            </thead>
          </div><tr>
          <tbody>
          <td>
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
              <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
               {{ item }}
              </md-checkbox>
                <td>1</td>
            <td>2</td>
            <td>3</td>
            </tr>
            <tr><td>5</td>
            <td>5</td>
            <td>6</td></tr>
            </div>
          </div></tbody></table>
        </fieldset>
      </div>
    </div>
</div></p>
    </div>

         
   
    </div>
           
         </div>
    </div>
    
</div>
  </div>
  <script type="text/javascript">
        // var app = angular.module('app',[]);
app.controller('Test',function($scope){
        $scope.show = 1;

});
    </script>
   
     


<script type="text/javascript">
 // angular.module('checkboxDemo3', ['ngMaterial'])

app.controller('AppCtrl', function($scope) {
  $scope.items = [1,2,3,4,5];
  $scope.selected = [1];
  $scope.toggle = function (item, list) {
    var idx = list.indexOf(item);
    if (idx > -1) {
      list.splice(idx, 1);
    }
    else {
      list.push(item);
    }
  };

  $scope.exists = function (item, list) {
    return list.indexOf(item) > -1;
  };

  $scope.isIndeterminate = function() {
    return ($scope.selected.length !== 0 &&
        $scope.selected.length !== $scope.items.length);
  };

  $scope.isChecked = function() {
    return $scope.selected.length === $scope.items.length;
  };

  $scope.toggleAll = function() {
    if ($scope.selected.length === $scope.items.length) {
      $scope.selected = [];
    } else if ($scope.selected.length === 0 || $scope.selected.length > 0) {
      $scope.selected = $scope.items.slice(0);
    }
  };
});
</script>
